
body{
    background-image: url(bg-tenis-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

section{
    display: flex;
    align-items: center;
    height: 100vh;
}

.skorbord{
    background-color: #134d51 ;
    border-radius: 20px;
    width: 50rem;
    height: 450px;
    margin: 0 55px;
}

.skorbord h1{
    text-align: center;
}

.row{
    display: flex;
    gap: 100px;
    font-weight: bolder;
   /*  justify-content: center; */
}

.col p{
    background-color: #000;
    text-align: center;
}
