
body{
    background-image: url(bg-tenis-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    backdrop-filter: brightness(80%);
    
}

section{
    display: flex;
    align-items: center;
    height: 100vh;
}

.skorbord{
    background-color: #3e6541 ;
    width: 45rem;
    height: 350px;
    margin: 0 60px;
}

.skorbord h1{
    text-align: center;
}

.row{
    display: flex;
    gap: 40px;
    font-weight: bolder;
    justify-content: center;
}

.col p{
    background-color: #c2b65e ;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Seven Segment', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.col :first-child{
    font-size: 25px;
}

/* 
#numberInput{
    background-color: #c2b65e;
    width: 70px;
    height: 55px;
    border: 0;
    margin-top: 10px;
    font-family: 'Seven Segment', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}

 */
